<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Hola {{user.nombrelogin}}</h3>
                    <h6>Elige la actividad necesitas realizar</h6>
                    <a href="/links/adduser" class="btn btn-primary m-2">
                        Agregar un usuario
                    </a>
                    <a href="./usuarios" class="btn btn-primary m-2">
                        Consultar usuarios
                    </a>
                    <a href="/links/addpacientes" class="btn btn-primary m-2">
                        Agregar un paciente
                    </a>
                    <a href="/links/listpacientes" class="btn btn-primary m-2">
                        Consultar pacientes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>