<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h6>Que necesitas listar</h6>
                    <a href="/links/listfisios" class="btn btn-primary m-2">
                        Fisioterapeutas
                    </a>
                    <a href="links/listdoctores" class="btn btn-primary m-2">
                        Doctores
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>